@using PharmaTrack.PWA.Helpers
@using PharmaTrack.Core.DTOs;
@inject DrugService DrugService

@if (drugInfo == null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <DrugInfoComponent drugInfo=drugInfo />
}
@code {
    [Parameter]
    public int DrugCode { get; set; }

    private DrugInfoDto? drugInfo;

    protected override async Task OnParametersSetAsync()
    {
        drugInfo = null;
        drugInfo = await DrugService.GetDrugInfoByDrugCodeAsync(DrugCode);
    }
}
