<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PharamTrack</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <!-- Home -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Calendar -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="bi bi-calendar-event-nav-menu" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>

        <hr />

        <!-- Drugs -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drugProducts">
                <span class="bi bi-prescription-nav-menu" aria-hidden="true"></span> Drug Products
            </NavLink>
        </div>

        <!-- Ingredients -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activeIngredients">
                <span class="bi bi-capsule-pill-nav-menu" aria-hidden="true"></span> Active Ingredients
            </NavLink>
        </div>

        <hr />

        <!-- Inventory -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-boxes-nav-menu" aria-hidden="true"></span> Inventory
            </NavLink>
        </div>

        <!-- Transactions -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-receipt-nav-menu" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
